<div id="<%= dom_id tag %>">
  <p>
    <strong>Book ID:</strong>
    <%= tag.book_id %>
  </p>

  <p>
    <strong>Tag1:</strong>
    <%= tag.tag1 %>
  </p>

  <p>
    <strong>Tag2:</strong>
    <%= tag.tag2 %>
  </p>

  <p>
    <strong>Tag3:</strong>
    <%= tag.tag3 %>
  </p>

</div>
